<div class="panel panel-default">
  <div id="map_canvas2" ng-show="showMap">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="map.control">

      <ui-gmap-window
        show="map.window.show"
        coords="map.window.model"
        options="map.window.options"
        closeClick="map.window.closeClick()"
        templateParameter="map.window">
        <div>
          <h4>{{map.window.model.title}}</h4>
          <p>Lat: {{map.window.model.latitude}}</p>
          <p>Long: {{map.window.model.longitude}}</p>
          <button class="btn btn-info">Show history</button>
        </div>

      </ui-gmap-window>

      <ui-gmap-markers
        models="map.markers"
        coords="'self'"
        events="map.markersEvents"
        options="'options'">
      </ui-gmap-markers>

    </ui-gmap-google-map>

  </div>
  <div class="panel-heading">
    Messages
    <button class="btn btn-xs btn-default" ng-click="refreshMessages()"><i class="fa fa-refresh"></i></button>
    <button class="btn btn-xs btn-info pull-right" ng-click="expand()">
      <i ng-hide="expandParsedData" class="fa fa-eye">View parsed data</i>
      <i ng-show="expandParsedData" class="fa fa-eye-slash">Hide parsed data</i>
    </button>
  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table datatable="ng" class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Device Id</th>
          <th>Data</th>
          <th>Parser</th>
          <th>Spotit (precision)</th>
          <th>RSSI (dBm)</th>
          <th>Seq Num</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="message in messages | orderBy:'time'">
          <td>{{message.time * 1000 | date:"yyyy/MM/dd HH:mm:ss"}}</td>
          <td>{{message.deviceId}}</td>
          <td>{{message.data}}</td>
          <td>{{message.parser}}<small ng-repeat="item in message.parsedData" ng-show="expandParsedData"><br>{{item.key}}: {{item.value}}</small></td>
          <td><a ng-click="buildMap(message.id, message.spotit.lat, message.spotit.long, message.spotit.precision)">{{message.spotit.lat | number : 6}} {{message.spotit.long | number: 6}}</a>
            {{message.spotit.precision ? "(" + message.spotit.precision + " m)" : ""}}</td>
          <td>{{message.RSSI}}</td>
          <td>{{message.seqNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>


</div>

