<section class="content-header">
  <div class="pull-right">
  </div>
  <h1>
    {{ 'Home' | translate }}
    <small translate>Welcome</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <tabset class="nav-tabs-custom">
        <tab heading="{{ 'Dashboard' | translate }}">
          <div class="row">

            <small-box name="{{ box.name }}" color="{{ box.color }}" icon="{{ box.icon }}"
                       quantity="{{ box.quantity }}" href="{{ box.href }}"
                       ng-repeat="box in boxes | orderBy:['-quantity', 'name']"></small-box>

          </div>

          <br>
        </tab>
      </tabset>

    </div>
  </div>
</section>
