
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span translate>Edit device</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" ng-model="ctrl.device.id"
                   disabled="true">
          </div>

          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Device Name" ng-model="ctrl.device.name">
          </div>

          <div class="form-group">
            <label>Associate a parser</label>
            <select class="form-control" ng-options="parser.name for parser in ctrl.parsers" ng-model="ctrl.device.parser">
            </select>
            <!--<p class="help-block" ng-show="ctrl.device.parser">{{device.parser.name}}-->
              <!--<button class="btn btn-sm btn-danger pull-right"><icon class="fa fa-trash"></icon>-->
              <!--</button>-->
            <!--</p>-->
          </div>

        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()">
        Submit
      </button>
    </div>
  </div>

