<!--<div class="row text-center">-->
  <!--<div class="col col-md-12">-->
                  <!--<span class="btn-group">-->
                      <!--<a href="" class="btn btn-info" ng-click="resetDefaultBehaviour(devices)">-->
                        <!--Reset default devices behaviour <i class="fa fa-edit"></i>-->
                      <!--</a>-->
                    <!--</span>-->
  <!--</div>-->
<!--</div>-->
<div class="panel panel-default">
  <div class="panel-heading">
    Devices
  </div>
  <div class="panel-body">

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Creation</th>
          <th>Device Type</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in devices">
            <td>{{device.id}}</td>
            <td>{{device.creation * 1000 | date:"yyyy/MM/dd" }}</td>
            <td>{{device.device_type}}</td>
            <td>{{device.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

